.patient-profile-container {
  display: flex;
  height: calc(90vh - 60px);
}

.pt-profile-left-side,
.pt-profile-right-side {
  flex: 1; /* Each side takes up equal space */
  padding: 0 2rem;
}

.separator {
  width: 1px;
  background-color: black;
}

/* Add styling for the form fields to look better in the split layout */
.pt-profile-left-side div,
.pt-profile-right-side div {
  margin-bottom: 1rem;
}

.pt-profile-left-side {
  padding: 20px;
}
