.small-logo {
  max-width: 250px;
  align-self: flex-end;
}

nav {
  display: flex;
  justify-content: space-between; /* Ensure logo is on the right, and nav items are on the left */
  align-items: center;
  background-color: #2E3F59;
  border: 1px solid;
  padding: 0 20px; /* Add padding to give space on both sides */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1; /* Allows ul to take up the available space */
  justify-content: space-around; /* Distribute items evenly */
  align-items: center; /* Center the items vertically */
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 2.5rem 2rem; /* Adjusted padding for a box-like appearance */
  border-radius: 4px;
  background-color: #2E3F59;
  border: 1px solid white; /* Add white border around each box */
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transition on hover */
  display: flex;
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
}

nav ul li a:hover {
  background-color: #4D79A9;
  border-color: #ffffff;
  text-decoration: none;
}

.nav-logo {
  margin-left: auto; /* Push the logo all the way to the right */
}
