/* html, body {
    height: 100%;
    margin: 0; */
    /* display: flex;
    justify-content: center;
    align-items: center; */


.mainBox {
    max-width: 500px;
    min-height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    background-image: url("/DixieTechLogo_background.png");
    display: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 200px;
}

.h1SignIn {
    color: #2e3f59;
}

.loginForm {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.inputFields {
    margin-bottom: 15px;
}

.inputfields input[type="text"] {
    width: 60%;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.LoginButton {
    display: flex;
    justify-content:flex-end;
    margin-right: 18%;
}

.LoginButton button {
    padding: 10%;
}