html, body {
    height: 100%;
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #D9D9D9;
}

.logo {
    background-image: url("/DixieTechLogo_background.png");
    display: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 200px;
}

.h1SignIn {
    color: #2e3f59;
}

form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.inputFields {
    margin-bottom: 15px;
}

input[type="text"] {
    width: 60%;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.LoginButton {
    display: flex;
    justify-content:flex-end;
    margin-right: 18%;
}

button {
    padding: 10%;
}