.mainNewRx {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr; /* Three columns */
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    max-width: 90%;
    width: 80%;
    min-width: 1200px;
    height: auto;
    margin: 5vh auto 5vh auto;
    justify-content: center;
    padding: 30px;
    margin-top: 5vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.NewRx_h1 {
    grid-column: 1;
    grid-row: 1;
    max-height: 40px;
    margin: 0;
}

.hr {
    grid-column: 1/4;
    grid-row: 2;
}

/*  */

.NewRxForm {
    grid-column: 1 / 3;
    grid-row: 2 / 6;
    display: grid;
    flex-direction: column;
    gap: 10px;
    height: auto;
    min-height: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 700px;
    min-width: 500px;
}

/*  */

.displayPatientInfo {
    grid-column: 2 / 3;
    grid-row: 2;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    height: 75%;
    width: 85%;
    gap: 10px;
    opacity: 1;
    display: grid;
    justify-self: center;
    margin: 1.5rem auto 1.5rem auto;
}

.displayPatientInfo h6, .displayPrescriberInfo h6{
    margin: 0;
}

.displayPrescriberInfo {
    grid-column: 2 / 3;
    grid-row: 3;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    height: 75%;
    width: 85%;
    gap: 10px;
    opacity: 1;
    display: grid;
    justify-self: center;
    margin: 1.5rem auto 1.5rem auto;
}


/*  */

.enterPatientInfo {
    justify-content: space-between;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    width: auto;
    max-width: 400px;
}

.enterPatientInfo label {
    margin-right: 20px;
    font-weight: 500;
    font-size: large;
}

.enterPatientInfo textarea {
    width: 100%;
    height: 50px;
    padding: 8px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.8rem; 
    margin: 0.5rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.enterPatientInfo input {
    width: 100%;
    padding: 8px;
    font-size: 1rem; 
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 0.5rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

/*  */

.techNquantity {
    grid-column: 1 / 3;
    grid-row: 3;
    width: 100%;
    max-width: 425px;
}

.quantityTable {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.quantityTable label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    max-width: 70px;
    font-weight: 500;
    font-size: small;
    padding-right: 10px;
    padding-left: 10px;
}

.quantityTable input {
    width: 37px;
    font-size: 0.9rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
  
.quantityTable td {
    vertical-align: middle;
}

/*  */

.techInitials {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: flex-end;
    align-items: flex-end;
}

.techInitials input {
    width: 37px;
    font-size: 0.9rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.techInitials label {
    font-weight: 500;
    font-size: small;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1.5rem;
}

/*  */

.RxDateInfo {
    grid-column: 1 / 2;
    grid-row: 4;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    width: 60%;
    max-width: 60%;
    height: 88%;
    max-height: 250px;
    display: grid;
    flex-direction: row;
    align-self: flex-end;
    justify-self: center;
    font-weight: 500;
    margin-top: 5%;
}

.RxDateInfo tr {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
}

.RxDateInfo td {
    max-width: 130px;
    min-height: 35px;
}

.RxDateInfo input {
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    border-radius: 10px; 
}

.RxDateInfo label {
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    font-weight: 500;
    font-size: small;
}

.RxDateInfo input[type="text"]{
    width: 130px;
}

/*  */

.displayRxScan {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: grid;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #2e3f59; /* Dark blue background for the scan area */
    opacity: 1;
    margin-top: 1.5rem;
}

.displayRxScan p {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 500;
}

/*  */

.NewRxButtons {
    grid-column: 1/2;
    grid-row: 5;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    margin-top: 5%;
}

.NewRxButtons button, .scanButton button{
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    font-size: medium;
    height: 50px;
}

.scanButton {
    grid-column: 3 / 4;
    grid-row: 5;
    display: inline-flex;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 4%;
}

/* */

.dropdown {
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    top: 100%;
    left: 0;
    z-index: 10;
    border: 1px solid #ccc;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.dropdown li:hover {
    background-color: #b6b6b6;
    width: 96%;
    border-radius: 10px;
    z-index: 11;
}