.RxQueueMain {
    padding: 20px;
    max-width: 60%;
    margin: 5vh auto;
}

.RxQueueTable table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 10px;
}

.RxQueue_th, .RxQueue_td {
    padding: 12px;
    text-align: center;
    border: 0.3px solid #c9c8c8;
}

.RxQueue_th {
    background-color: #f2f2f2;
}

.RxQueue_tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.selectedRow {
    background-color: #f1f1f1;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.buttonContainer button {
    margin: 10px;
}
