.mainSearch input {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.mainSearch a {
    display: flex;
    justify-content: flex-end;
}

.mainSearch button {
    /* padding: 15px 20px; */
    border-radius: 5px;
    border: none;
}

.mainSearch h2,
.mainSearch label {
    text-align: left;
}
