.RxHistoryMain {
    padding: 20px;
    max-width: 75%;
    margin: 5vh auto;
}


.buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.buttonContainer button {
    margin: 10px;
}
