.RxHistoryMain {
    padding: 20px;
    max-width: 60%;
    margin: 5vh auto;
}

.RxHistoryTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 10px;
}

.RxHistory_th, .RxHistory_td {
    padding: 12px;
    text-align: center;
    border: 1px solid #c9c8c8;
}

.RxHistory_th {
    background-color: #f2f2f2;
}

.RxHistory_tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.RxHistory_tr.selected {
    background-color: #f1f1f1;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.buttonContainer button {
    margin: 10px;
}
