.new-rx-container {
  display: flex;
  height: calc(90vh - 60px);
}

.new-rx-left-side,
.scan-image {
  flex: 1; /* Each side takes up equal space */
  padding: 0 2rem;
}

.separator {
  width: 1px;
  background-color: black;
}

/* Add styling for the form fields to look better in the split layout */
.new-rx-left-side div,
.scan-image div {
  margin-bottom: 1rem;
}

.new-rx-left-side {
  padding: 20px;
}

.scan-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
