html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2e3f59;
    margin: 0;
    padding: 20px 5vw;
    max-width: 100%;
    min-width: 1000px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.logo {
    background-image: url("/DixieTechHomepageLogo.png");
    display: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 100px;
    margin-right: 40px;
}

.navButton {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: space-between;
    max-width: 100%;
    min-width: 700px
}

.navButton ul, .navButton li {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 20px;
    border: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-decoration: none;
}

.navButton a {
    color: #FFFFFF;
    font-size: larger;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navButton li {
    width: 75px;
    height: 40px;
}